body{
font-family: Arial;
text-align: center;
margin-top: 50px;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

.blue{
background-color:blue;
color:white;
}

.green{
background-color:green;
color:white;
}

input,select{
padding:8px;
width:200px;
}
