body{

font-family:Arial;
background:linear-gradient(135deg,#e8f4ff,#f4fff4);

margin:0;

}

.navbar{

background:#2ecc71;

padding:10px;

}

.home-btn{

background:#007bff;
color:white;

border:none;

padding:8px 15px;

border-radius:5px;

}

.container{

max-width:420px;

margin:40px auto;

background:white;

padding:30px;

border-left:5px solid #2ecc71;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

text-align:center;

}

input,select{

width:90%;

padding:10px;

border-radius:6px;

border:1px solid #ccc;

}

.btn-blue{

background:#007bff;

color:white;

border:none;

padding:10px 20px;

border-radius:6px;

cursor:pointer;

}

.btn-blue:hover{

background:#0056b3;

}

@media(max-width:600px){

.container{

width:90%;

}

}
